<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmcrowd</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="mynavbar">
      <div class="nav_top">
        <h6>
          Nigeria’s 1st Digital Agriculture Platform
          <span>Helpline: +234 (0) 706 796 3016 </span>
        </h6>
      </div>

      <div class="nav_botom">
        <!-- clickable logo -->
        <div class="divlogo">
          <a class="logo">
            <img
              src="https://farmcrowdy.com/etc/img/logo/fc_logo.svg"
              alt="Farmcrowdy's logo"
            />
          </a>
        </div>

        <!-- all links -->
        <div class="divlink">
          <a href="#">Home</a>
          <a class="about" href="#">About Us</a>
          <a class="product" href="#">Products</a>
          <a class="impact" href="#">Impact</a>
          <a class="gethelp" href="#">Get Help</a>
        </div>
      </div>
    </div>

    <!-- backgroun section -->
    <section>
      <div class="background">
        <div class="overlay">
          <h1>Empowering Farmers with Technology</h1>
          <p>
            Farmcrowdy is a global Agtech company focused on helping <br />
            stakeholders in the food value chain maximize their output <br />
            and increase their profits with technology.
          </p>
          <!-- contact btn -->
          <button>contact us &#8594;</button>
        </div>
      </div>

      <!-- farmers network -->
      <div class="network">
        <div>
          <p>
            <span style="font-size: 25px">424,966 Farmers Network</span><br />

            <span style="color: rgb(171, 186, 22)"
              >Get the benefits, join our farmer's network today</span
            >
          </p>
        </div>

        <!-- clickable downward arrows -->
        <div class="downarrow"><a href="">&#65086;</a></div>
        <div></div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
